In [1]:
import pandas as pd

df = pd.read_pickle('..\data\wss')
results = pd.DataFrame(df)
results.head()

,accountid,avgload,avgspeed,bssid,bssid1,bssid2,bssid3,created_at,eventtime,drivenum,...,p1presspoweroff,padwearstat,schemavers,servprvder,softgpsloc,totaldist,tripdist,warnlampstat,itappin,itapudid
0,A3J43,NaN,1,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 13:33:12,5,...,6200.0,NaN,3,1,,0.0,0.0,1,1888062301,163540005001DC915C983
1,A3J43,NaN,1,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 13:38:10,9,...,6200.0,NaN,3,1,,0.0,0.0,1,1888062301,163540005001DC915C983
2,A3J43,NaN,255,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 16:31:04,14,...,7500.0,NaN,3,1,,0.0,0.0,0,1888062301,163540005001DC915C983
3,A3J43,NaN,255,BC765EEC523A,,,,2017-04-24 11:44:20.365,2017-01-29 08:56:22,18,...,4500.0,NaN,3,1,,0.0,0.0,0,1888062301,163540005001DC915C983
4,A3J43,NaN,1,BC765EEC523A,,,,2017-04-24 11:44:42.082,2016-12-12 14:04:23,4,...,5900.0,NaN,3,1,,0.0,0.0,1,4099311238,163540006001DC915B4EF