### Description
This code in this document pick the original data from poweroffevent.

In [1]:
# Standard library

# Third party imports
import pandas as pd

# Local imports
%run ../src/database.py

### Retrieve data

In [2]:
query = """
SELECT *
FROM poweroffevent
ORDER BY itapudid
LIMIT 100000;
"""

In [3]:
df = pd.read_sql_query(query, engine)
results = pd.DataFrame(df)
results.head(20)

,accountid,avgload,avgspeed,bssid,bssid1,bssid2,bssid3,created_at,eventtime,drivenum,...,p1presspoweroff,padwearstat,schemavers,servprvder,softgpsloc,totaldist,tripdist,warnlampstat,itappin,itapudid
0,A3J43,NaN,1,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 13:25:31,3,...,6300.0,NaN,3,1,,0.0,0.0,1,1888062301,163540005001DC915C983
1,A3J43,NaN,1,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 13:18:47,2,...,6300.0,NaN,3,1,,0.0,0.0,1,1888062301,163540005001DC915C983
2,A3J43,NaN,1,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 13:36:29,7,...,6200.0,NaN,3,1,,0.0,0.0,1,1888062301,163540005001DC915C983
3,A3J43,NaN,1,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 13:34:16,6,...,6200.0,NaN,3,1,,0.0,0.0,1,1888062301,163540005001DC915C983
4,A3J43,NaN,255,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 13:44:09,12,...,6200.0,NaN,3,1,,0.0,0.0,1,1888062301,163540005001DC915C983
5,A3J43,NaN,1,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 13:42:02,10,...,6200.0,NaN,3,1,,0.0,0.0,1,1888062301,163540005001DC915C983
6,A3J43,NaN,255,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-14 16:19:22,16,...,7500.0,NaN,3,1,,0.0,0.0,0,1888062301,163540005001DC915C983
7,A3J43,NaN,255,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 16:35:17,15,...,7500.0,NaN,3,1,,0.0,0.0,0,1888062301,163540005001DC915C983
8,A3J43,NaN,255,BC765EEC523A,,,,2017-04-24 11:44:20.365,2017-01-29 09:30:55,20,...,4500.0,NaN,3,1,,0.0,0.0,0,1888062301,163540005001DC915C983
9,A3J43,NaN,255,BC765EEC523A,,,,2017-04-24 11:44:20.365,2017-01-29 08:57:08,19,...,4500.0,NaN,3,1,,0.0,0.0,0,1888062301,163540005001DC915C983
10,A3J43,NaN,1,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 13:28:07,4,...,6300.0,NaN,3,1,,0.0,0.0,1,1888062301,163540005001DC915C983
11,A3J43,NaN,1,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 13:33:12,5,...,6200.0,NaN,3,1,,0.0,0.0,1,1888062301,163540005001DC915C983
12,A3J43,NaN,1,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 13:37:14,8,...,6200.0,NaN,3,1,,0.0,0.0,1,1888062301,163540005001DC915C983
13,A3J43,NaN,1,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 13:38:10,9,...,6200.0,NaN,3,1,,0.0,0.0,1,1888062301,163540005001DC915C983
14,A3J43,NaN,255,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 16:30:37,13,...,7500.0,NaN,3,1,,0.0,0.0,0,1888062301,163540005001DC915C983
15,A3J43,NaN,255,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 16:31:04,14,...,7500.0,NaN,3,1,,0.0,0.0,0,1888062301,163540005001DC915C983
16,A3J43,NaN,255,BC765EEC523A,,,,2017-04-24 11:44:20.365,2017-01-29 08:35:29,17,...,7500.0,NaN,3,1,,0.0,0.0,0,1888062301,163540005001DC915C983
17,A3J43,NaN,255,BC765EEC523A,,,,2017-04-24 11:44:20.365,2017-01-29 08:56:22,18,...,4500.0,NaN,3,1,,0.0,0.0,0,1888062301,163540005001DC915C983
18,A3J43,NaN,1,BC765EEC523A,,,,2017-04-24 11:44:42.082,2016-12-12 14:04:06,3,...,5900.0,NaN,3,1,,0.0,0.0,1,4099311238,163540006001DC915B4EF
19,A3J43,NaN,1,BC765EEC523A,,,,2017-04-24 11:44:42.082,2016-12-12 14:04:23,4,...,5900.0,NaN,3,1,,0.0,0.0,1,4099311238,163540006001DC915B4EF

### Scrub data

In [27]:
# Keep only production devices
df = df[df['itapudid'].str.slice(0,2).astype(int) >= 16]
results1 = pd.DataFrame(df)
results1.head(3)

,accountid,avgload,avgspeed,bssid,bssid1,bssid2,bssid3,created_at,eventtime,drivenum,...,p1presspoweroff,padwearstat,schemavers,servprvder,softgpsloc,totaldist,tripdist,warnlampstat,itappin,itapudid
0,A3J43,NaN,1,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 13:33:12,5,...,6200.0,NaN,3,1,,0.0,0.0,1,1888062301,163540005001DC915C983
1,A3J43,NaN,1,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 13:38:10,9,...,6200.0,NaN,3,1,,0.0,0.0,1,1888062301,163540005001DC915C983
2,A3J43,NaN,255,BC765EEC523A,,,,2017-04-24 11:44:20.365,2016-12-12 16:31:04,14,...,7500.0,NaN,3,1,,0.0,0.0,0,1888062301,163540005001DC915C983

### Save data

In [14]:
df.to_pickle('../data/wss')  # pickle dataframe